/* CSS untuk ikon akun */
.account-icon {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}

.account-icon i {
    font-size: 20px;
}

/* CSS untuk formulir login dan sign up */
.login-form,
.signup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.form-container {
    width: 300px;
    margin: 0 auto;
}

.form-container h2 {
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #0066cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
